# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Django
*.log
staticfiles/
media/
local_settings.py
.env
.env.*
*.sqlite3

# VSCode / IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Node (if any)
node_modules/
